.about-us-page {
    box-sizing: border-box;
}

.hero {
    box-sizing: border-box;
    background: linear-gradient(45deg, rgba(47, 32, 255, 0.5), var(--primary-color));
    width: 1144px;
    height: auto;
    border-radius: 48px;
    padding: 64px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 68px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    text-align: center;
    font-size: clamp(24px, 5vw, 32px);
    padding: 0;
    margin: 0;
    color: white;
    margin-bottom: 64px;
}

.hero-subtitle {
    text-align: center;
    font-size:18px;
    color: white;
    margin: 0;
    padding: 0;
    margin-bottom: 64px;
    text-wrap: wrap;
    line-height: 1.5;
}

.hero-btn {
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: bold;
    width: 268px;
    height: 48px;
    border: none;
    border-radius: 16px;
    background-color: white;
    color: #8800FF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: all 0.35s ease-in-out;
}

.hero-btn:hover {
    transform: scale(1.05);
}

.quote {
    box-sizing: border-box;
    border-radius: 48px;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    width: 1144px;
    height: auto;
    background-color: #f6f6f6;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    padding: 32px;
}
.quote-container {
    display: flex;
    gap: 32px;
    align-items: center;
}
.quote-mark {
    width: 8px;
    height: 123px;
    border-radius: 4px;
    background-color: rgba(47, 32, 255, 0.5);
}
.quote-text {
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.about-team {
    box-sizing: border-box;
    border-radius: 48px;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    width: 1144px;
    height: auto;
    background-color: #f6f6f6;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    padding: 48px;
}
.about-team-title{
    font-size: 20px;
    text-align: start;
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
}
.about-team-img {
    background-color: gray;
    height: 480px;
    width: 100%;
    max-width: 640px;
    display: block;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 32px;
}
.about-team-p {
    line-height :1.5;
    font-size: 18px;
}
.about-team-p-bottom {
    color: var(--primary-color)
}

.hero-bottom {
    box-sizing: border-box;
    background: linear-gradient(45deg, #00FF1E, rgba(47, 32, 255, 0.5));
    width: 1144px;
    height: auto;
    border-radius: 48px;
    padding: 64px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 68px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-bottom-title {
    text-align: center;
    font-size: clamp(24px, 5vw, 32px);
    padding: 0;
    margin: 0;
    color: white;
    margin-bottom: 64px;
}

.hero-bottom-subtitle {
    text-align: center;
    font-size:18px;
    color: white;
    margin: 0;
    padding: 0;
    margin-bottom: 64px;
    text-wrap: wrap;
    line-height: 1.5;
}

.hero-bottom-btn {
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: bold;
    width: 268px;
    height: 48px;
    border: none;
    border-radius: 16px;
    background-color: white;
    color: #8800FF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: all 0.35s ease-in-out;
}

.hero-bottom-btn:hover {
    transform: scale(1.05);
}

@media (max-width: 1144px) {
    .hero, .hero-bottom, .about-team {
        width: 90%;
        padding: 32px;
        border-radius: 32px;

    }
    .quote{
        width: 90%;
        padding: 16px;
        border-radius: 32px;
    }
    .quote-container{
        gap: 16px
    }
}

@media (max-width: 767px) {
    .hero{
        margin-top: 68px;
        width: 94%;
        padding: 16px;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero a{
        width: 100%;
    }
    .hero-btn {
        width: 100%;
    }
    .hero-title, .hero-subtitle {
        margin-bottom: 32px;

        text-align: center;
    }
    .hero-bottom, .about-team {
        width: 94%;
        padding: 16px;
        border-radius: 24px;
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .quote{
        width: 94%;
        padding: 16px;
        border-radius: 24px;
        margin-top: 32px;
    }
    .quote-container{
        gap: 16px
    }
    .hero-bottom-title {
        margin-bottom: 32px;
        font-size: 24px;
        text-align: center;
    }
    .hero-bottom-subtitle {
        margin-bottom: 32px;
        font-size: 18px;
        text-align: center;
    }
    .hero-bottom a{
        width: 100%;
    }
    .hero-bottom-btn {
        width: 100%;
    }
}