.contact-form__title {
    font-size: 48px;
    font-weight: 450;
    margin: 48px 0;
    padding: 0;
}

.contact-form__container {
    width: 1144px;
    height: auto;
    margin: 0 auto;
    padding: 64px;
    box-sizing: border-box;
    background-color: #f6f6f6;
    border-radius: 48px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);


}
.contact-form__left {
    flex: 1;

}
h3 {
    font-size: 48px;

    margin: 0;
    
    
}
.contact-link-item {
    background-color: rgba(255, 111, 32, 0.4);
    border-radius: 16px;
    border: 2px solid rgba(255, 111, 32, 0.2);
    margin-top: 16px;
}
.p-title{
    margin: 4px 16px;
}
.p-definition {
    margin: 4px 16px;
}


.hello-text {
    font-size: 134px;
    margin: 0;
    padding: 0;
    color: #FF6F20;
}
.contact-form__image {
    margin-top: 28px;
    width: 204px;
    height: 204px;

    
}
.contact-form__right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact-form__form{
    width: min-content;
    background: linear-gradient(-25deg, #ff6f20, rgba(225, 111, 32, 0.3));
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}
.contact-form__form label {
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-form__form input, textarea {
    box-sizing: border-box;
    width: 400px;
    height: 48px;
    border-radius: 8px;
    border: 2px solid #ccc;
    padding: 10px;
    font-size: 18px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

.contact-form__form input:focus, textarea:focus {
    border-color: indianred;
}

.contact-form__button {
    background-color: white;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 12px;
    margin-top: 16px;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all 0.3s ease-in-out;
}

.contact-form__button:hover {
    scale: 1.05;
}
.contact-links-right {
    display: none;
}


@media (max-width: 1144px) {
    .contact-form__container {
        width: 90%;
        padding: 32px;
        border-radius: 32px;
    }
    .contact-form__title {
        font-size: 32px;
        margin: 32px 0;
    }
    h3{
        font-size: 32px;
    }
    .contact-links-right {
        display: none;
    }
}

@media (max-width: 767px) {
    .contact-form__container {
        flex-direction: column;
        width: 94%;
        border-radius: 16px;
        align-items: center;
        padding: 16px 0 0 0;
    }
    .hello-text{
        font-size: 64px;
    }
    h3 {
        font-size: 24px;
        text-align: center;
    }
    .contact-form__title{
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 24px;
    }
    
    .contact-form__image{
        display: none;
    }
    .contact-form__right{
        width: 100%;
    }
    .contact-form__left{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-form__form {
        width: 100%;
    }
    .contact-form__form label {
        width: 100%;

    }
    .contact-form__form input, textarea {
        width: 100%;
        
        height: 40px;
        font-size: 14px;
        padding: 8px;
    }
    .contact-links {
        display: none;
        margin-bottom: 16px;
        width: 90%;
        /*display: flex;*/
        /*flex-direction: column;*/
        /*justify-content: center;*/
    }
    .contact-link-item {
        background-color: rgba(255, 111, 32, 0.4);
        border-radius: 16px;
        border: 2px solid rgba(255, 111, 32, 0.2);
        margin-top: 16px;

        width: 100%;
    }
    .p-title{
        margin: 4px 16px;
        font-size: 18px;

    }
    .p-definition {
        margin: 4px 16px;
    }
    .contact-links-right {
        display: none;
        margin-bottom: 16px;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}