.course-item-big__container {
    box-sizing: border-box;
    width: 1144px;
    height: auto;
    background-color: white;
    border-radius: 48px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    display: flex;
    flex-direction: column;
}

.course-item-big__top {
    flex: 1;
    border-radius: 45px 45px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title{
    color: white;
    font-size: 20px;
    margin: 0;
    font-weight: 550;
}
.description {
    text-wrap: wrap;
    font-size: 18px;
    margin: 24px;

}
.course-item-big__icon {
    object-fit: cover;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 16px;
}

.course-item-big__bottom {
    flex: 5;
    display: flex;
    flex-direction: row;
}
.course-item-big__bottom--left {
    flex: 1;
}
.course-item-big__bottom--right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.details {
    margin-top: 32px;
    width: 485px;
}
.details-items {
    box-sizing: border-box;
    width: 485px;
    height: 48px;
    background-color: #F6F6F6;
    margin: 0 auto 10px auto;
    border-radius: 16px;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.details-items p {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.course-item-big__btn--enroll {
    box-sizing: border-box;
    margin: 16px 48px 0 48px;
    padding: 16px;
    font-size: 18px;
    width: 485px;
    height: auto;
    border: none;
    border-radius: 16px;

    color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: all 0.35s ease-in-out;
}
.course-item-big__btn--enroll:hover {
    transform: scale(1.05);
}

.course-description h3{
    font-size: 18px;
}
.course-description p{
    margin: 8px 0;
}

@media (max-width: 1144px) {
    .course-item-big__container {
        width: 90%;
        margin: 0 auto 32px auto;
    }
    .details {
        width: 100%;
        margin-top: 16px;
    }
    .details-items {
        width: 100%;
        margin-bottom: 16px;

    }
    .course-item-big__btn--enroll {
        margin-top: 0;



    }
    .course-description h3{
        font-size: 18px;
        text-align: start;
    }
    .link-course-item-big__btn--enroll{
        width: 100%;

    }

}

@media (max-width: 767px) {
    .course-item-big__container {
        width: 94%;
        margin: 0 3% 32px 3%;
        border-radius: 16px;

    }
    .course-item-big__bottom {
        flex-direction: column;
    }
    .description{
        margin: 0;
        padding: 8px;
    }
    .course-item-big__top {
        border-radius: 14px 14px 0 0;
    }
    .course-item-big__icon {
        width: 48px;
        height: 48px;
        margin: 8px;
    }
    .title {
        font-size: 18px;
        margin: 0;
    }
    .details{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .details-items {
        width: 94%;
    }
    .link-course-item-big__btn--enroll{
        width: 94%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    .course-item-big__btn--enroll {
        width: 100%;
        margin-bottom: 16px;
        margin-left: auto;
        margin-right: auto;
    }
    .course-item-big__bottom--right{

    }
}
