header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: box-shadow 0.15s ease-in-out;
}

.header-scroll {
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 1144px;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  flex: 1;
}

.header__logo p {
  font-size: 20px;
  color: var(--primary-color);
}

nav {
  flex: 2;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__links {
  width: 100%;
  display: flex;
}

.header__links li {
  list-style: none;
  margin: 0 24px;
  box-sizing: border-box;
  white-space: nowrap;
   
}

.header__links li a {
  text-decoration: none;
  color: black;
  transition: background-color 0.2s ease-in-out;
  padding: 10px;
  border-radius: 8px;
}
.header__links li a:hover {
  background-color: #F6F6F6;
}

.header__links li a.active {
  background-color: #FF6F2080;
}

.empty-div {
  flex: 1;
}

@media (max-width: 767px) {
  header .header-scroll {
    height: 96px;
  }

  .header__container {
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .header__logo {
    width: 100%;
    display: flex;
    min-height: 48px;
    justify-content: center;
    align-items: center;
  }
  .header__logo a {
    text-decoration: none;
  }
  .header__logo p {
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
  nav {
    min-height: 48px;
  }
  .header__links {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    min-height: 48px;
    width: 100%;
  }
  .header__links li {
    margin: 0;
    align-self: center;
  }
  .header__links li a {
    padding: 8px 4px;
    margin: 0;
    font-size: 16px;
  }
  .header__links li a:hover {
    background-color: none;
  }
  .empty-div {
    display: none;
  }
}
@media (max-width: 1144px) {
  .header__container {
    width: 100%;
  }
  .header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__logo p {
  }
  .header__links {
    justify-content: space-evenly;
  }
  .header__links li {
    margin: 0 7px;
  }
}
